<footer class="bg-[#F8FAFC] border-t border-[#E5EAF0] pt-10 pb-5 mt-20">
  <div class="max-w-[1440px] mx-auto px-6 md:px-12">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 md:gap-8 pb-8">
      <div>
        <h3 class="font-bold mb-3">Product</h3>
        <ul class="space-y-2 text-slate-600 text-base">
          <li>
            <a href="/how-it-works" class="hover:underline">How it works</a>
          </li>
          <li>
            <a
              href="https://www.figma.com/@figmafolio"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:underline">Templates</a
            >
          </li>
          <li><a href="/pricing" class="hover:underline">Pricing</a></li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold mb-3">Features</h3>
        <ul class="space-y-2 text-slate-600 text-base">
          <li>
            <a href="/features/custom-domain" class="hover:underline"
              >Custom domain</a
            >
          </li>
          <li>
            <a href="/features/responsive-design" class="hover:underline"
              >Responsive design</a
            >
          </li>
          <li>
            <a href="/features/code-conversion" class="hover:underline"
              >Code conversion</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold mb-3">Resources</h3>
        <ul class="space-y-2 text-slate-600 text-base">
          <li><a href="/blog" class="hover:underline">Blog</a></li>
          <li><a href="/contact" class="hover:underline">Contact</a></li>
          <!-- <li>
            <a href="https://www.figmafolio.com/" class="hover:underline"
              >HTMLfolio</a>
          </li> -->
        </ul>
      </div>
      <!-- <div>
        <h3 class="font-bold mb-3">Legal</h3>
        <ul class="space-y-2 text-slate-600 text-base">
          <li><a href="#" class="hover:underline">Privacy policy</a></li>
          <li><a href="#" class="hover:underline">Terms and conditions</a></li>
        </ul>
      </div> -->
    </div>
    <hr class="border-[#E5EAF0] mb-6" />
    <div class="text-center text-slate-600 text-sm pb-2">
      © 2025 Figmafolio. All rights reserved.
    </div>
  </div>
</footer>
